body {
  font-family: sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.3fr 1fr 1fr;
  grid-template-rows: 0.8fr 1.5fr 1fr 0.4fr;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar main main"
    "footer footer footer";
  gap: 0.2rem;
}

#header {
  display: block;
  grid-area: header;
  border: 5px black solid;
  background: rgb(182, 208, 252);
}

main {
  grid-area: main;
}
.fixed {
  border: 5px black solid;
  background: rgb(182, 208, 252);
}

/* SIDEBAR */

#sidebar {
  grid-area: sidebar;
}

.side-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

/* The navigation menu links */
#sidebar a {
  padding: auto; /* 6px 8px 6px 16px; */
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
  color: #f1f1f1;
}

/* -------------------------------------------------------------------- */

/* Slideshow*/
.slideshow-container {
  /* display:flex */
  /* max-width: 1000px;
  position: relative; */
  margin: auto;
  width: 50%;
}

.carouselPhoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Next & previous buttons */
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
#prev:hover,
#next:hover {
  background-color: #f1f1f1;
  color: black;
}

#footer {
  grid-area: footer;
}

h1 {
  color: #551a8b;
  text-align: center;
}

.main-links {
  display: flex;
  justify-content: space-around;
  font-size: large;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.image {
  display: flex;
  justify-content: center;
  display: block;
  margin: 0 auto;
  width: 45%;
}

.quote {
  text-align: center;
  margin-bottom: 50px;
}

/* LIGTH/DARK MODE */

#ligth_dark {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 0 94%;
  border-radius: 10%;
}

.mainDarkBackground {
  background: #313133;
}

.darkBackground {
  background: rgb(38, 43, 53);
}

.ligthText {
  color: #fff59e;
}

/* On smaller screens, where width is less than 550px */

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1.5fr 1fr 0.4fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
}
