body {
  background-color: rgb(226, 226, 226);
}

.container {
  display: grid;
  height: 97vh;
  grid-template-columns: 0.3fr 1fr 1fr;
  grid-template-rows: 0.8fr 1.5fr 1fr 0.3fr;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar main main"
    "footer footer footer";
  gap: 0.2rem;
}

header {
  border: 5px black solid;
  display: flex;
  grid-area: header;
  background: url("Images/day.jpg") center no-repeat;
  background-size: cover;
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fixed {
  border: 5px black solid;
  background: rgb(252, 213, 94);
}

/* SIDEBAR */

#sidebar {
  grid-area: sidebar;
}

.side-links-box {
  padding-left: 0;
  color: #551a8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

nav li {
  display: inline;
  text-align: center;
  margin: 10px auto;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px gray;
}

.lightHover:hover {
  border-radius: 5px;
  color: rgb(252, 213, 94);
  background-color: #551a8b;
}

.clicked {
  border-radius: 5px;
  color: rgb(252, 213, 94);
  background-color: #551a8b;
}

/* -------------------------------------------------------------------- */

/* Slideshow*/

.slideshow-container {
  margin: auto;
  width: 70%;
  position: relative;
}

img {
  display: block;
  margin: 0 auto;
  width: 60%;
  border: 5px solid black;
  box-shadow: 2px 2px 2px gray;
}

figcaption {
  text-align: center;
  padding-top: 4px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Next & previous buttons */

.carouselBtn {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  color: #551a8b;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1px 1px 1px gray;
  transition: 0.6s ease;
  border: none;
  user-select: none;
}

#prev {
  left: 15%;
}

#next {
  right: 15%;
}

#play,
#pause {
  top: 12%;
  left: 22%;
}

.carouselBtn:hover {
  background-color: transparent;
  color: #fff59e;
}

/* -------------------------------------------------------------------- */

.content {
  height: 82%;
}

.text-container {
  height: 95%;
  overflow-y: scroll;
}

p {
  padding: 0 3%;
}

#footer {
  display: flex;
  grid-area: footer;
}

#footer ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#footer i {
  font-size: 30px;
}

h1 {
  margin: auto;
  color: #551a8b;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
}

h2 {
  margin: auto;
  color: #551a8b;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
}

.innerTitle {
  padding-bottom: 3%;
}

.main-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  list-style-type: none;
  padding-left: 0;
}

.footerList {
  color: #551a8b;
  text-decoration: none;
}

/* LIGHT/DARK MODE */

#light_dark {
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 7px 18px;
  border: 2px solid black;
  box-shadow: 1px 1px 1px gray;
  background-color: rgb(254, 228, 149);
}

.mainDarkBackground {
  background: #9fbbd4;
}

.darkBackground {
  background: rgb(42, 91, 127);
}

.darkHeaderBackground {
  background: url("Images/night.jpg") center no-repeat;
  background-size: cover;
}

.lightText {
  color: #fff59e;
  text-shadow: 1px 1px 1px gray;
}

.lightCaption {
  color: #fff59e;
}

.darkCarouselBtn {
  color: #fff59e;
}

.darkCarouselBtn:hover {
  background-color: transparent;
  color: rgb(42, 91, 127);
}

.darkHover:hover {
  border-radius: 5px;
  color: rgb(42, 91, 127);
  background-color: #fff59e;
}

.darkClicked {
  border-radius: 5px;
  color: rgb(42, 91, 127);
  background-color: #fff59e;
}

/* On smaller screens, where width is less than 550px */

@media only screen and (max-width: 550px) {
  #sidebar {
    display: flex;
    align-items: center;
  }

  .side-links-box {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px auto;
  }

  nav li {
    width: 40%;
    margin: 5px auto;
  }

  .main-links {
    margin: 8px auto;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.4fr 1.5fr 0.2fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }

  .content {
    height: 45vh;
  }

  .text-container {
    height: 85%;
  }

  main {
    align-items: flex-end;
  }

  .slideshow-container {
    margin: 0;
    width: 100%;
    height: 85%;
  }

  .carouselPhoto {
    margin: 0;
  }

  section button {
    top: 27%;
  }

  #prev {
    left: 3%;
  }

  #next {
    right: 3%;
  }
}

/* On iPhone 5 and smaller */

@media only screen and (max-width: 320px) {
  .content {
    height: 40vh;
  }

  .text-container {
    height: 80%;
  }
}
